.hamburger{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    position: fixed;
    top: 0;
    margin-top: 20px;
}

.burger{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.burger1{
    transform: ${hamburgerOpen ? 'rotate(45deg)' : 'rotate(0)'};
}

.burger2{
    transform: ${hamburgerOpen ? 'translateX(100%)' : 'translateX(0)'} ;
    opacity: ${hamburgerOpen ? 1 : 0};
}

.burger3{
    transform: ${hamburgerOpen ? 'rotate(-45deg)' : 'rotate(0)'};
}