#root{
    height: 100%
}


html{
 height: 100%;
}

body{
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.main{
    height:100%;
    overflow: hidden;
}

.home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#AEC2B6 90%, transparent) ;
    width: 100%;
    height: 300px;
    transition: 0.5;
}

.stick-header{
    max-height: 80px;
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.menu{
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}

.sections-buttons{
    list-style: none;
    margin-top: 20px;
   
}

.nav-buttons{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100px;
    font-family: 'Josefin Slab', serif;
}

.nav-buttons:hover{
    text-shadow: 2px 2px 3px white;
}

.burger-menu{
    display: none;
}


h2{
    font-size: 3.2rem;
    margin-top: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    
}

h3{
    font-weight: bold;
    font-size:1.8rem;
    color: #C4D7E0;
}

h4{
    font-size: 1.2rem;
    text-decoration: under;
}

p{
    font-size: 1.5rem;
    font-weight: lighter;
}

.all-sections{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.about-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo-about{
    height: 300px;
    border-radius: 100%;
    margin: 50px;
}

.text-about{
    margin: 50px;
    width: 50%;
}

.text-interestings{
    max-width: 50%;
}

.publications-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.publications-title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.div-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-publications{
    padding: 0;
    margin: 20px;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.proyects-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F8F9D7;
    width: 100%;
}

.work-div{
    margin: 30px;
}

.today-work-text{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.previously-work-text{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    text-align: right;
}

.proyects{
    display: flex;
    flex-direction: column;
}

.cvbe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;

}

.logo-img{
    height: 100px;
    margin-left: 20px;
    border-radius: 10%;
}

.proyect-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #94AF9F /*#6E85B7*/;
    opacity: 0.8;
}



@media (max-width: 576px){
    h1{
        font-size: 2.8rem;
        max-width: 150px;
        
    }
    h2{
        font-size: 3rem;   
    }
    .home-header{
        justify-content: space-around;
        flex-direction: row;
        min-height: 100px;
    }
    .normal-menu{
        display: none;
    }

    .burger-menu{
        display: flex;
        justify-content: end;
    }

    .nav-burger{
        transition: 0.5;
    }

    .burger-inline{
        display: flex;
        flex-direction: column;
        width: 50vw;
        position: absolute;
        background: #BBD6B8;
        top: 67px;
        right: 0;
        z-index: 100;
     }
     
     .burger-none{
         display: none;
         opacity: 0;
         transform: translateY(50px);
     }

    
}
