.intro{
    background-image: url(/images/home-img.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sections-buttons{
    list-style: none;
    font-size: 2rem;
}

.nav-buttons{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

h2{
    font-size: 3.2rem;
    margin-top: 100px;
    font-weight: bolder;
    justify-self: center;
}

h3{
    font-weight: bold;
    font-size:1.8rem;
}

p{
    font-size: 1.2rem;
    font-weight: lighter;
}

.about-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo-about{
    height: 300px;
    border-radius: 100%;
    margin: 50px;
}

.text-about{
    margin: 50px;
}

.text-interestings{
    margin: 50px;
}


.previously-work-text{
    display: flex;
    justify-content: flex-start;
}

.today-work-text{
    display: flex;
    justify-content: flex-end;
}

.proyects{
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;

}

.logo-img{
    height: 200px;
}

.proyect-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;

}
