.intro{
    background-image: url(/images/home-img.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
}

.sections-buttons{
    list-style: none;
    font-size: 2rem;
}

.nav-buttons{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

h2{
    font-size: 3.2rem;
    margin-top: 100px;
    font-weight: bolder;
    justify-self: center;
    
}

h3{
    font-weight: bold;
    font-size:1.8rem;
    color: #C4D7E0;
}

h4{
    font-size: 1.2rem;
    text-decoration: under;
}

p{
    font-size: 1.2rem;
    font-weight: lighter;
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.about-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo-about{
    height: 300px;
    border-radius: 100%;
    margin: 50px;
}

.text-about{
    margin: 50px;
}

.text-interestings{
    max-width: 50%;
}

.publications-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.publications-title{
    display: flex;
    justify-content: start;
}


.proyects-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F8F9D7;
    width: 100%;
}

.work-div{
    margin: 30px;
}

.today-work-text{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.previously-work-text{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.proyects{
    display: flex;
    flex-direction: column;
}

.cvbe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;

}

.logo-img{
    height: 100px;
    margin-left: 20px;
    border-radius: 10%;
}

.proyect-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}
