.intro{
    background-image: url(/images/home-img.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
}

.sections-buttons{
    list-style: none;
    font-size: 2rem;
}

.nav-buttons{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

h2{
    font-size: 3rem;
    margin-top: 100px;
    font-weight: bold;
}

p{
    font-size: 1.2rem;
    font-weight: lighter;
}

.about-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.photo-about{
    height: 300px;
    border-radius: 100%;
    margin: 50px;
}

.text-about{
    margin: 50px;
}

.text-interestings{
    margin: 50px;
}


